*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto;
    grid-column: 1 / 10;
    max-width:1200px;
    margin: auto;
    background-color: blue;
}
a{
    text-decoration: none;
    list-style: none;
}
.padre{
    display: grid;
    /* grid-template-columns: repeat(8, 1fr); */
    grid-template-rows: auto;
    /* flex-flow: column nowrap; */
}

 .header{
    display: grid;
    grid-column: 1 / 10;

       background-size: 95vh;
       background-position: center;
       background-color: blue;
       
    
   

    /* max-width: auto; */
    height: 20vh;

    background-image: url(../img/fons.jpg);
    background-repeat: no-repeat;
    
   
    /* background-size: cover; */
    /* background-size: contain; */
    background-attachment: contain;
    
    
    align-items: baseline;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr); */


} 
    
.navbar{
    
    display: grid;
    
    grid-template-columns: repeat(8, 1fr);
   /* align-items: center; */
}
 .navbar .logo{
    background-color: aqua;
    width: 100px;
    height: 100px;
    grid-column: 1 / 3;
}
.navbar .menu{
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
}
.navbar .menu li{
    list-style: none;
}
.navbar .menu a{
    list-style: none;
    color: rgb(66, 29, 136);
    cursor: pointer;
}
.navbar .menu-bar{
    display: none;
}
.navbar .redes{
    grid-column: 8 / 9;
    display: flex;
}

/* section main */

.titulo{
    grid-column: 3/ 9;
    margin-top: 100px;
    
    
    display: grid;
    /* text-align: center; */
    
    
}
